.done {
    text-decoration: line-through;
    font-style: italic;
}

.icon {
    font-size: 2rem; 
    margin-right: 10px; 
}

.red {
    color: rgb(165, 29, 29);
}

.green {
    color: rgb(12, 119, 12);
}

.yellow {
    color: rgb(255, 162, 0);
}
